body {
    background-color: rgb(50, 90, 92);
}

h1 {
    color: rgb(11, 211, 177);
    text-shadow: 3px 3px rgb(13, 16, 216);
    font-family: fantasy;
}

.add-to-cart-button {
    color: rgb(4, 8, 12);
    background-color: rgb(3, 15, 11);
    border: none;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 3px 3px rgb(0,0,0);
    color: aliceblue;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.add-to-cart-button:hover {
    background-color: rgb(8, 139, 102);
}

h3 {
    color: aquamarine;
}

label {
    color: rgb(12, 206, 223);
}

.card {
    border-end-end-radius: 30px;
    border-width: 5px;
    border-bottom-color: aqua;
    border-top-color: azure;
    border-left-color: azure;
    border-right-color: aqua;
}

.shopping-cart {
    width: 150px;
    height: 50px;
    background-color: darkcyan;
    cursor: pointer;
    color: aliceblue;
    border-radius: 25%;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(10, 212, 178);
}

.shopping-cart:hover {
    background-color: rgb(6, 110, 142);
}

.checkOutButton {
    width: 150px;
    height: 50px;
    background-color: rgb(76, 0, 139);
    cursor: pointer;
    color: aliceblue;
    border-radius: 25%;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(21, 1, 37);
    margin-top: 10px;
}

.checkOutButton:hover {
    background-color: rgb(10, 76, 143);
}